/* ============== GENERAL STYLES =============== */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*,
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
img,
p {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: block;
}
html {
    font-size: 62.5%;
}
// in loader component //////
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    animation: 0.4s fadeIn forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 2000;
    &__logo {
        width: 50vw;
        height: 50vw;
        @include minMq($mobileBreak) {
            width: 15rem;
            height: 15rem;
        }
    }
    .logoBody {
        fill: white;
    }
    .logoCircle {
        fill: $primary-color;
    }
}

.error {
    font-size: 1rem;
    color: $primary-color;
    font-weight: 700;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* =============== MAIN STYLES =============== */

body {
    /* Sets the width of the body */
    @include BodyTextMain;
    background: $backgroundColour;
    color: $primary-font-color;
    width: 100%;
    margin: 0 auto;
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
    box-sizing: border-box;
    margin: 0;
}

// main container in index.html
.mainHtmlContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.pageContainer {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    background: url("/images/social-media-doodles.svg") repeat, center center;
    // background-color: mintcream;
    background-size: 500px auto;

    // @include minMq($mobileBreak) {
    //     width: $width90;
    // }
}
.PageWrapper {
    margin-top: 80px;
    padding-top: 2rem;
    @include minMq($mobileBreak) {
        padding-top: 5rem;
    }
    height: 100vh;
    width: 100vw;
    @include flexStartCenteredColumn;
    overflow: scroll;
}

.innerContainer {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
}

// move content down

/* FONTS SIZES ETC */

.h1_headers {
    @include h1-Headers;
}
.h2_headers {
    @include h2-Headers;
}
.h3_headers {
    @include h3-Headers;
}
.h4_headers {
    @include h4-Headers;
}
.h5_headers {
    @include h5-Headers;
    color: $primary-color;
}
.h6_headers {
    @include h6-Headers;
}
.p_bodyTextMain {
    @include BodyTextMain;
}
.p_bodyText {
    @include bodysmall;
}
p {
    @include bodysmall;
}
span {
    @include bodysmall;
}
