.logoContainer {
    width: $width100;
    height: $height90;
    @include flexRowCentered;
    @include push--auto;
    @include maxMq(768px) {
        width: $width90;
    }
}

// NAVBAR //////////////////////////////////
.topNav {
    background: $complimentary-color;
    background: rgba(0, 0, 0, 0.9);
    height: 8rem;
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0 auto;
    @include flexRowCentered;
    overflow: hidden;
    z-index: 1000;
    &::before {
        @include pseudoContent();
        background-image: linear-gradient(to top, #002f4b, #dc4225);
        opacity: 0.25;
        background-blend-mode: multiply;
        z-index: -1;
    }
    // in logo component
    img.logoMain {
        width: 4rem;
        height: 4rem;
        text-align: center;
        object-fit: contain;
        @include maxMq(980px) {
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-50%);
        }
    }
    &__wrapper {
        width: $width95;
        text-align: center;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        .mainNav {
            position: relative;
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(center);
            .deskTopNav {
                @include flexbox();
                @include flex-direction(row);
                @include align-content(flex-end);
                .navLink {
                    position: relative;
                    @include bodysmall;
                    @include flexbox();
                    @include align-items(flex-end);
                    margin-right: 3rem;
                    color: white;
                    font-weight: 400;
                    font-size: clamp(0.8rem, 2vw, 1rem);
                    @include transition(all, 0.2s, ease-out);
                    &:hover {
                        color: $primary-color;
                        @include transition(all, 0.2s, ease-out);
                        &::before {
                            visibility: visible;
                            -webkit-transform: translateY(-100%);
                            transform: translateY(-100%);
                        }
                        &::after {
                            visibility: visible;
                            -webkit-transform: translateY(100%);
                            transform: translateY(100%);
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 16px;
                        bottom: -4rem;
                        opacity: 1;
                        left: 0;
                        background-color: $primary-color;
                        visibility: hidden;
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        @include transition(all, 0.2s, ease-in-out);
                        z-index: 500;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 5rem;
                        top: -7rem;
                        opacity: 0.25;
                        left: 0;
                        background-color: $primary-color;
                        visibility: hidden;
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        @include transition(all, 0.2s, ease-in-out);
                        z-index: 500;
                    }
                }
            }
            // Mobile
            .mobileNav {
                top: 100%;
                position: fixed;
                top: 8rem;
                width: 100vw;
                margin: 0 auto;
                text-align: center;
                background: rgba(0, 0, 0, 0.9);
                left: -100%;
                z-index: 500;
                transition: left 0.15s ease-in-out;
                &::before {
                    @include pseudoContent();
                    background-image: linear-gradient(
                        to bottom,
                        #002f4b,
                        #dc4225
                    );
                    opacity: 0.25;
                    background-blend-mode: multiply;
                    z-index: -1;
                }
                &.active {
                    left: 0;
                    transition: left 0.25s ease-in;
                }
                .navLink {
                    position: relative;
                    @include bodysmall;
                    @include flexbox();
                    @include align-items(flex-end);
                    padding: 4rem;
                    color: white;
                    font-weight: 400;
                    font-size: clamp(1.4rem, 2vw, 1.6rem);
                    @include transition(all, 0.2s, ease-out);

                    &:hover {
                        color: $primary-color;
                        background: rgba(270, 270, 270, 0.125);
                        @include transition(all, 0.2s, ease-out);
                        &::before {
                            visibility: visible;
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                        }
                        // &::after {
                        //     visibility: visible;
                        //     -webkit-transform: translateX(100%);
                        //     transform: translateX(100%);
                        // }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 16px;
                        height: 100%;
                        bottom: 0;
                        opacity: 1;
                        left: 0;
                        background-color: $primary-color;
                        visibility: hidden;
                        -webkit-transform: translateX(-16px);
                        transform: translateX(-16px);
                        @include transition(all, 0.2s, ease-in-out);
                        z-index: 500;
                    }
                    // &::after {
                    //     content: "";
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 5rem;
                    //     top: -7rem;
                    //     opacity: 0.25;
                    //     left: 0;
                    //     background-color: $primary-color;
                    //     visibility: hidden;
                    //     -webkit-transform: translateY(0);
                    //     transform: translateY(0);
                    //     @include transition(all, 0.2s, ease-in-out);
                    //     z-index: 500;
                    // }
                }
            }
            .mobile-btn {
                position: fixed;
                top: 30px;
                left: 20px;
                width: 25px;
                height: 20px;
                z-index: 9999;
                @include transition(all, 0.2s, ease-in-out);
                @include flexbox();
                @include align-content(space-between);
                @include justify-content(space-between);
                @include flex-direction(column);
                &:hover {
                    cursor: pointer;
                }
                span {
                    width: 25px;
                    height: 3px;
                    background: $light-accent-color;
                }
                &.active ~ .toggle-btn span {
                    background: #000;
                }
            }
            .mobileNav > .mobile-btn span:nth-child(1) {
                @include transition(all, 0.2s, ease-in-out);
                transform: translate(0, 0) rotate(0deg);
            }
            .mobileNav.active > .mobile-btn span:nth-child(1) {
                transform: translate(0, 9px) rotate(45deg);
                background: $light-accent-color;
            }
            .mobileNav > .mobile-btn span:nth-child(2) {
                @include transition(all, 0.2s, ease-in-out);
                opacity: 1;
            }
            .mobileNav.active > .mobile-btn span:nth-child(2) {
                opacity: 0;
            }
            .mobileNav > .mobile-btn span:nth-child(3) {
                @include transition(all, 0.2s, ease-in-out);
                transform: translate(0, 0) rotate(0deg);
            }
            .mobileNav.active > .mobile-btn span:nth-child(3) {
                transform: translate(0, -8px) rotate(-45deg);
                background: $light-accent-color;
            }
        }
    }
}
//
.navPicContainer {
    height: 100%;
    border-left: 1px solid $line-color;
    text-align: center;
    margin: 0 auto;
    padding-left: 2.5vw;
    @include flexColumnCentered;
    .welcome {
        margin-top: 0.5rem;
        @include bodysmall;
        font-weight: 400;
        font-size: clamp(0.8rem, 2vw, 1rem);
        color: $light-accent-color;
        span {
            font-size: inherit;
            font-weight: inherit;
            color: $primary-color;
        }
    }
}

// for all profile images

.userProfilePic {
    border: clamp(1px, 2px, 3px) solid $primary-color;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 100%;
    object-fit: cover;
    &:hover {
        cursor: pointer;
    }
    &::before {
        @include pseudoContent();
        background: rgba($complimentary-color, 1);
        z-index: 20;
        cursor: pointer;
    }
}
