// UPLOADER ///////////////////////////////

.modalBackground {
    display: block;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    transition: all 0.5s ease-in-out;
    z-index: 5000;
}
.modalContainer {
    display: block;
    width: $width90;
    background: $primary-color-50;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    opacity: 1;
    border-radius: 1rem;
    padding: 3rem;
    padding-bottom: 0;
    @include minMq($mobileBreak) {
        width: $width30;
    }
    &.active {
        animation: 0.5s bounceIn forwards ease-in-out;
        opacity: 1;
        z-index: 5001;
    }
    &.remove {
        animation: 0.2s minimise forwards linear;
        opacity: 0;
    }
    &::before {
        @include pseudoContent();
        background-image: linear-gradient(
            to bottom right,
            #002f4b,
            $primary-color
        );
        opacity: 0.45;
        background-blend-mode: multiply;
        z-index: -1;
    }
    .modalCloseBtn {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: clamp(1.5rem, 2vw, 1.75rem);
        height: clamp(1.5rem, 2vw, 1.75rem);
        border-radius: 100%;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        color: $primary-color;
        font-size: 1.15rem;
        font-weight: 700;
        padding: 0.5vw;
        border: none;
        transition: all 0.25s ease-in-out;
        &:hover {
            transition: all 0.25s ease-in-out;
            color: $light-accent-color;
            background: $primary-color;
            cursor: pointer;
        }
    }
    .modalWrapper {
        transform: scale(0.8);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        text-align: center;
        .h5_header {
            color: $light-accent-color;
        }
        .uploadFileContainer {
            margin: 2rem 0 0 0;
            .userProfilePic {
                width: 15rem;
                height: 15rem;
                margin: 0 auto;
            }
            .inputFileWrapper {
                padding: 1rem;
                text-align: center;
                figure {
                    margin-bottom: 2rem;
                }
                .inputfile {
                    opacity: 0;
                    display: none;
                }
                label {
                    font-weight: 400;
                    color: $light-accent-color;
                }
                .uploadFile {
                    width: 25%;
                    height: auto;
                    vertical-align: middle;
                    display: block;
                    margin: 0 auto;
                    cursor: pointer;
                    opacity: 0.75;
                    @include transition(all, 0.2s, ease-out);
                    margin-bottom: 1rem;
                    &:hover {
                        opacity: 1;
                        // box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
                    }
                    .uploadFile {
                        fill: rgba(270, 270, 270, 1);
                    }
                    .uploadIcon {
                        fill: $primary-color;
                    }
                }
            }
            .error {
                margin: 2rem 0 1rem 0;
            }
        }
    }
}

// DELETE USER MODAL
.deleteUserContainer {
    padding: 4rem;
    width: $width90;
    @include minMq($mobileBreak) {
        width: $width50;
    }
    .h2_headers {
        color: white;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    .p_bodyTextMain {
        @include BodyTextMain;
        color: white;
        margin-bottom: 2rem;
    }
    #deleteIcon {
        height: 20vh;
        margin-bottom: 2rem;
    }
}

// LOGOUT
.modalContainer.logoutContainer {
    text-align: center;
    margin-bottom: 16rem !important;
    .logoutModal {
        padding: 3rem;
        .p_bodyTextMain {
            color: $light-accent-color;
            margin-bottom: 3rem;
        }
    }
}

// END DELETE ////////

.uploading {
    @extend .modalContainer;
    color: $primary-color;
    opacity: 1;
}

.inputField {
    position: relative;
    width: 100%;
    height: 6rem;
    cursor: pointer;
}

@keyframes fadeInbounceIn {
    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: center;
    }
}

@-webkit-keyframes bounceIn {
    0% {
        transform: scale(0.9);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        opacity: 1;
    }
    55% {
        transform: scale(1.08);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
        opacity: 1;
    }
    75% {
        transform: scale(0.95);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
        opacity: 1;
    }
}
@-webkit-keyframes minimise {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.7);
        opacity: 1;
    }
}

// .modalContainer,
// .uploading {
//     opacity: 1 !important;
// }
