////////////////////////////////////////////////////
// PROFILE ////////////////////////////////////////
////////////////////////////////////////////////////

.profileContainer {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    padding: 3rem 3rem 2rem 3rem;
    width: $width90;
    background: $light-accent-color;
    background: $cardColour;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    margin-top: 8rem;
    box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.2);
    @include minMq($mobileBreak) {
        width: $width30;
        margin-top: 12rem;
    }
    .generalProfileImage {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        transition: all 0.25s ease-in-out;
        overflow: hidden;
        border-radius: 100%;
        .userProfilePic {
            // position: relative;
            width: calc(11rem + 4vw);
            height: calc(11rem + 4vw);
            border-width: clamp(2px, 2vw, 5px);
            transform: translateY(-20%);
            animation: 0.25s fadeDown forwards ease-in;
            opacity: 1;
        }
    }
    #personalProfile {
        &::before {
            content: "Upload new image";
            position: absolute;
            left: 0;
            top: 100%;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            @include flexbox();
            @include align-items(flex-start);
            @include justify-content(center);
            overflow: hidden;
            text-align: center;
            background: rgba(0, 0, 0, 0.75);
            @include BodyTextMain;
            color: $light-accent-color;
            z-index: 20;
            cursor: pointer;
            font-weight: 300;
            opacity: 0;
            padding: 1rem 2rem;
            transition: all 0.25s ease-in-out;
        }
        &:hover::before {
            opacity: 1;
            top: 50%;
        }
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

///// OTHER Profiles

.otherprofileContainer {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    padding: 3rem 3rem 2rem 3rem;
    width: $width60;
    background: $light-accent-color;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    margin-top: 8rem;
    box-shadow: 0px 4px 12px 8px rgba(0, 0, 0, 0.15);
    transition: 0.25s all ease-in;

    .bioContainer {
        transition: 0.25s all ease-in;
    }
}
.otherprofileHeader {
    margin-top: 8rem;
}
.otherprofileContainer .userProfilePic {
    width: calc(11rem + 4vw);
    height: calc(11rem + 4vw);
}
