////////////////////////////////////////////////////
// PROFILE ////////////////////////////////////////
////////////////////////////////////////////////////

.profileContainer {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    padding: 3rem 3rem 2rem 3rem;
    width: $width90;
    background: $light-accent-color;
    // border: 2px solid blue;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    margin-top: 12rem;
    @include minMq($laptopBreak) {
        width: $width30;
        // border: 2px solid red;
    }
}
.mainImageProfile {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease-in-out;
}
.profileWrapper {
    // background: red;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    flex-direction: row;
    width: 100%;
    margin-top: 4rem;
}

.profileInfo {
    @include flexbox();
    @include flex-direction(column);
}

.userName {
    margin-bottom: 1rem;
}
.userName span {
    color: $primary-color;
}
.userName bold {
    font-size: 2rem;
    color: $complimentary-color;
}
.profileContainer .userProfilePic {
    width: calc(11rem + 4vw);
    height: calc(11rem + 4vw);
    border-width: 6px;
    animation-name: fadeDown;
    animation-duration: 0.25s;
    opacity: 1;
    animation-fill-mode: forwards;
}
// .mainImageProfile:hover::after {
//     background: red;
//     border-radius: 100%;c
// }

// .mainImageProfile::before {
//     transition: all 0.25s ease-in-out;
// }
// .mainImageProfile:hover::before {
//     content: "Click to upload new profile image";
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     width: 100%;
//     height: 100%;
//     @include flexbox();
//     @include align-items(center);
//     @include justify-content(center);
//     border-radius: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
//     background: #000;
//     opacity: 0.75;
//     font-size: 1.25rem;
//     z-index: 20;
//     cursor: pointer;
//     font-weight: 700;
//     padding: 2rem;
//     transition: all 0.25s ease-in-out;
// }

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

///// OTHER Profiles

.otherprofileContainer {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    padding: 3rem 3rem 2rem 3rem;
    width: $width60;
    background: $light-accent-color;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    margin-top: 8rem;
    box-shadow: 0px 4px 12px 8px rgba(0, 0, 0, 0.15);
}
.otherprofileHeader {
    margin-top: 8rem;
}
.otherprofileContainer .userProfilePic {
    width: calc(11rem + 4vw);
    height: calc(11rem + 4vw);
}
