// FIND PEOPLE /////////////////////////////////////

.subheader {
    margin-top: 1rem;
}
.p_bodyTextMain span {
    font-size: 1.6rem;
    color: $primary-color;
}
.findPeople {
    background: $light-accent-color;
    color: rgba($complimentary-color, 0.25);
    width: $width90;
    @include minMq($mobileBreak) {
        width: $width30;
    }
}
#findPeopleContainer {
    margin-top: 2rem;
    @include flexColumnCentered;
    width: 80vw;
}

.friendsContainer {
    @include display-grid;
    grid-template-columns: repeat(16, 4.765625vw);
    grid-auto-rows: 4.765625vw;
    grid-gap: 1.25vw;
    width: 80vw;
    // border: 1px solid red;
}
