// FIND PEOPLE /////////////////////////////////////

.subheader {
    margin-top: 1rem;
}
.p_bodyTextMain span {
    font-size: 1.6rem;
    color: $primary-color;
}
.findPeople {
    background: $light-accent-color;
    color: rgba($complimentary-color, 0.25);
    width: $width90;
    @include minMq($mobileBreak) {
        width: $width30;
    }
    &:focus {
        color: $light-accent-color;
    }
}
.nofriends {
    @include BodyTextMain;
    color: $primary-color;
    margin-top: 2rem;
    text-align: center;
    margin: 0 auto;
}
#findPeopleContainer {
    margin-top: 2rem;
    @include flexColumnCentered;
    width: 90vw;
    .h2_headers {
        margin: 3rem 0 2rem 0;
    }
}
