////////////////////////////////////////////////////
// PROFILE /////////////////////////////////////////
////////////////////////////////////////////////////

.friendsListHeader {
    margin-bottom: 2rem;
    ~ p {
        font-size: 1.6rem;
        text-align: center;
        width: 90vw;
        @include minMq($mobileBreak) {
            width: 50vw;
        }
    }
}
.friendsEtcContainer {
    @include flexRowCentered;
    text-align: center;
    width: 80vw;
    flex-wrap: wrap;
    margin: 0 auto;
}
.friendsEtcWrapper {
    @include flexStartCenteredColumn;
    text-align: center;
    margin: 0 0.5rem;
    padding: 1rem 1.5rem;
    height: calc(15 + 5vh);
    cursor: pointer;
    background: $light-accent-color;
    margin-bottom: calc(1rem + 0.5vw);
    margin-left: calc(0.5rem + 0.25vw);
    margin-right: calc(0.5rem + 0.25vw);
    @include transition(all, 0.3s, ease-out);
    &::hover {
        transform: scale(1.075);
        background: rgba($primary-color, 0.125);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.075);
    }
}

.friendsEtcText {
    text-align: center;
    @include bodysmall;
    color: $primary-color;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.pendingListHeader {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.friendsEtcWrapper .userProfilePic {
    width: calc(4rem + 1vw);
    height: calc(4rem + 1vw);
    margin-top: 1rem;
}

// other users button

.friendButton {
    margin-top: 2rem;
}

@media screen and (max-width: 767px) {
    .friendsPageContainer {
        $outerContainer: 90vw;
        $background: red;
        height: 20vh;
    }
}
