////////////////////////////////////////////////////
// PROFILE /////////////////////////////////////////
////////////////////////////////////////////////////

.friendsListHeader {
    margin-bottom: 2rem;
    ~ p {
        font-size: 1.6rem;
        text-align: center;
        width: 90vw;
        @include minMq($mobileBreak) {
            width: 50vw;
        }
    }
}
// .friendsContainer {
//     @include flexRowCentered;
//     text-align: center;
//     width: 80vw;
//     flex-wrap: wrap;
//     margin: 0 auto;
// }
.friendsCard {
    @include flexColumnCentered;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    grid-row: span 2;
    grid-column: span 2;
    background: $light-accent-color;
    @include transition(all, 0.3s, ease-out);
    &:hover {
        transform: scale(1.05);
        background: rgba($primary-color, 0.25);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.075);
    }
}

.friendsNameHeader {
    text-align: center;
    @include bodysmall;
    color: $primary-color;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.pendingListHeader {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.friendsCard .userProfilePic {
    width: 10rem;
    height: 10rem;
}

// other users button

.friendButton {
    margin-top: 2rem;
}

@media screen and (max-width: 767px) {
    .friendsPageContainer {
        $outerContainer: 90vw;
        $background: red;
        height: 20vh;
    }
}
