.bioContainer {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-start);
    @include flex-direction(column);
    margin-top: 7rem;
    @include minMq($mobileBreak) {
        margin-top: 9rem;
    }
    .infoHeader {
        // text-transform: lowercase;
    }
    .bioSubHead {
        @include h5-Headers;
        text-align: left;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 2rem;
        & span {
            text-align: left;
            font-size: clamp(1.4rem, 2vw, 1.6rem);
            color: $complimentary-color;
            text-transform: capitalize;
        }
    }
    .bioInfo {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;

        // .bioTextHolder {
        //     height: 100px;
        //     padding: 2rem;
        //     background: rgba($complimentary-color, 0.15);
        //     border-radius: 5px;
        //     margin: 0 auto;
        //     margin-top: 1rem;
        //     width: 100%;
        //     text-align: left;
        //     font-size: calc(1rem + 0.35vw);
        //     color: $complimentary-color;
        //     overflow: hidden;
        // }
        .bioInfoText {
            height: auto;
            margin: 0 auto;
            width: 100%;
            text-align: left;
            @include bodysmall;
            font-size: clamp(1.4rem, 2vw, 1.6rem);
            line-height: 1.6;
            color: $complimentary-color;
            overflow: hidden;
            margin-bottom: 2rem;
        }
        .bioTextArea {
            width: 100%;
            height: 10rem;
            padding: 2rem;
            @include bodysmall;
            background: $complimentary-color;
            outline: 0;
            border: 0;
            margin-top: 1rem;
            border-radius: 5px;
            color: $primary-color;
            &:focus {
                color: $primary-color;
            }
        }
    }
}
.deleteAccount,
.editAccount {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    color: $primary-color;
    border: none;
    background: none !important;
    cursor: pointer;
    &:hover {
        transition: color 0.25s ease-in-out;
        color: $complimentary-color;
    }
}
.editAccount {
    margin-right: 1rem;
}
.deleteBtns {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
}
.h3_header {
    color: $complimentary-color;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-weight: 700;
}
.userName {
    margin-bottom: 1rem;
    span {
        color: $primary-color;
    }
    bold {
        font-size: 2rem;
        color: $complimentary-color;
    }
}
