#MessageBoardContainer {
    width: 100%;
    @include minMq($mobileBreak) {
        width: $width60;
    }
    .chatContainer {
        @include flexColumnCentered;
        border-top: 1px solid $light-accent-color;
        border-bottom: 1px solid $light-accent-color;
        text-align: center;
        // flex-wrap: wrap;
        margin: 0 auto;
        max-height: 60vh;
        overflow: scroll;
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding-bottom: 1rem;
        .chatItem {
            position: relative;
            margin: 0 auto;
            padding: 3rem;
            margin-top: 3rem;
            border-radius: 3px;
            background: $light-grey-color;
            text-align: left;
            // margin-right: calc(3rem + 2vw);
            &:nth-child(odd) {
                background: rgba($primary-color, 0.06);
                // margin-left: calc(3rem + 2vw);
                .h4_header.chatMessage::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: auto;
                    right: 3rem;
                    top: 50%;
                    bottom: auto;
                    border: 8px solid;
                    border-color: rgba(270, 270, 270, 0.85) transparent
                        transparent rgba(270, 270, 270, 0.85);
                }
            }
            &:nth-child(odd) .chatDetails {
                text-align: right;
                margin-right: 1.5rem;
            }
            &:nth-child(odd) .userProfilePic {
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &:nth-child(odd) .chatInfo {
                color: $primary-color;
            }
            .userProfilePic {
                width: 5rem;
                height: 5rem;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            .chatDetails {
                text-align: left;
                line-height: 0.8rem;
                margin-left: 1.5rem;
                .chatInfo {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    line-height: 1.25;
                }
                .chatMessage {
                    font-size: 1.5rem;
                    padding: 1.5rem;
                    color: $complimentary-color;
                    background: rgba(270, 270, 270, 0.85);
                    overflow: hidden;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        left: 3rem;
                        right: auto;
                        top: 50%;
                        bottom: auto;
                        border: 8px solid;
                        border-color: rgba(270, 270, 270, 0.85)
                            rgba(270, 270, 270, 0.85) transparent transparent;
                    }
                }
            }
        }
    }
    .messageInputContainer {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        position: fixed;
        bottom: 0;
        left: 0;
        margin-top: 3rem;
        width: 100vw;
        height: 20vh;
        background: rgba($complimentary-color, 0.25);
        border-top: 1px solid rgba($complimentary-color, 0.9);
        z-index: 0;
        background: rgba($primary-color, 0.25);
        &::before {
            @include pseudoContent();
            background-image: linear-gradient(
                to bottom right,
                #002f4b,
                #dc4225
            );
            opacity: 0.45;
            background-blend-mode: multiply;
            z-index: -1;
        }
        .chatInputField {
            position: relative;
            width: $width90;
            min-height: 8vh;
            padding: 2rem;
            color: $complimentary-color;
            font-size: clamp(1.1, 2vw, 1.25rem);
            border: 0;
            border-radius: 6px;
            outline: 0;
            @include minMq($mobileBreak) {
                width: $width40;
            }
            &:focus {
                background: rgba($complimentary-color, 0.35);
                color: $accent-color;
            }
        }
    }
}

// .messages {
//     overflow: scroll;
//     max-height: 50vh;
//     min-height: 20vh;
//     margin: 1rem 0;
// }

.rightAlign {
    background: rgba($primary-color, 0.06);
    margin-left: calc(2rem + 2vw);
    background: red;
}
