/* =================================
IMPORTED STYLES
================================= */
@import url("/fonts/montserrat/montserrat_stylesheet.css");
@import url("/fonts/montserrat/montserrat_stylesheet.css");
@import url("/fonts/playfair_display/playfair_stylesheet.css");
/* ========================= MIXINS =============================== */
/* @include transition(all,0.2s,ease-out); */
/* ============== GENERAL STYLES =============== */
body {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1.5s;
  box-sizing: border-box;
  margin: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

img,
p {
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: block;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100vw;
  height: 100vh;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 2000;
}

.loader_logo {
  width: 10vw;
  height: 10vw;
}

.error {
  font-size: 1rem;
  color: #f44a41;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* =============== MAIN STYLES =============== */
body {
  /* Sets the width of the body */
  font-size: 1rem;
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
  background: #f9f9f9;
  color: #969595;
  width: 100%;
  margin: 0 auto;
}

.mainHtmlContainer {
  width: 100vw;
  overflow: hidden;
}

.pageContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15rem;
  width: 80vw;
  text-align: center;
}

@media all and (max-width: 768px) {
  .pageContainer {
    width: 90vw;
  }
}
.innerContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* FONTS SIZES ETC */
.h1_header {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2.8rem;
  color: #f44a41;
  font-weight: 100;
  line-height: 1.07;
  letter-spacing: 0.001rem;
}

.h2_header {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2.8rem;
  color: #4c4c4c;
  font-weight: 700;
  line-height: 0.95;
  letter-spacing: 0.05rem;
}

.h3_header {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2.4rem;
  color: #4c4c4c;
  font-weight: 300;
  line-height: 0.7;
  letter-spacing: 0.05rem;
}

.h4_header {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}

.h5_header {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2rem;
  color: #4c4c4c;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  color: #f44a41;
}

.h6_header {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #4c4c4c;
  font-weight: 300;
  line-height: 0.7;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.p_bodyTextMain {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
}

.p_bodyText {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(0.75rem + 0.25vw);
  color: rgba(230, 228, 223, 0.75);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
}

p {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(0.75rem + 0.25vw);
  color: rgba(230, 228, 223, 0.75);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
}

span {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(0.75rem + 0.25vw);
  color: rgba(230, 228, 223, 0.75);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
}

/* =============== MEDIA EG =============== */
.logoContainer {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .logoContainer {
    width: 90vw;
  }
}

.logoContainer {
  position: relative;
  height: 100%;
  width: auto;
}

.logoMain {
  width: 4rem;
  height: 4rem;
  text-align: center;
  object-fit: contain;
}

.littleCircle {
  border-radius: 100%;
  border: 5px solid #f44a41;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotateY(45deg, 45deg);
}

.userProfilePic {
  border: 3px solid #f44a41;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 100%;
  object-fit: cover;
}

.userProfilePic:hover {
  cursor: pointer;
}

.topNav {
  background: #4c4c4c;
  height: 8rem;
  position: fixed;
  width: 100vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  overflow: hidden;
  z-index: 1000;
}

.navWrapper {
  width: 80vw;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.navDetails {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.navLinkbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  -ms-align-content: flex-end;
  align-content: flex-end;
}

.navLink {
  position: relative;
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(0.75rem + 0.25vw);
  color: rgba(230, 228, 223, 0.75);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  margin-right: 3rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navLink:hover {
  color: #f44a41;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 16px;
  bottom: -4rem;
  opacity: 1;
  left: 0;
  background-color: #f44a41;
  visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 500;
}

.navLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5rem;
  top: -7rem;
  opacity: 0.25;
  left: 0;
  background-color: #f44a41;
  visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 500;
}

.navLink:hover::before {
  visibility: visible;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.navLink:hover::after {
  visibility: visible;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.navPicContainer {
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.navPicContainer .userProfilePic::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #4c4c4c;
  width: 100%;
  height: 100%;
  z-index: 20;
  cursor: pointer;
}

.welcome {
  margin-top: 0.5rem;
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(0.75rem + 0.25vw);
  color: rgba(230, 228, 223, 0.75);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
  color: rgba(230, 228, 223, 0.75);
}

.welcome span {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(0.75rem + 0.25vw);
  color: rgba(230, 228, 223, 0.75);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
  color: #f44a41;
}

/* ====================================
               FORMS
==================================== */
*:focus {
  outline: none;
}

button:focus {
  outline: 0;
}

/* colors */
:root {
  --main-bg-color: coral;
  --secondary-color: rgba(234, 225, 208, 1);
  --accent-color: rgba(88, 24, 69, 1);
}

.canvasField {
  display: flex;
  flex-direction: column;
}

.names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signatureCanvas {
  border: 1px solid #f44a41;
  opacity: 0.5;
}

#signatureField {
  opacity: 0.5;
  z-index: 5;
}

#petitionFormField {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#signatureCanvas {
  background: rgba(230, 228, 223, 0.75);
}

.submit-button,
input[type=button] {
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  border: none;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
  width: 10rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  background: #4c4c4c;
}

.submit-button:hover,
input[type=button]:hover {
  background: #f44a41;
  color: white;
}

.selectContainer {
  text-align: center;
  margin-top: 1rem;
}

/*=================================
INPUT STYLES
=================================*/
fieldset {
  font-family: "montserratlight", Helvetica, sans-serif;
  border: none;
  box-shadow: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 400px;
  color: #4c4c4c;
}

input {
  /* ---------- email/name boxes ---------- */
  border: none;
  padding: 0 0 0 20px;
  background: #333333;
  font-size: 1.2rem;
  border-radius: 3px;
  margin-top: 0.75rem;
  color: #4c4c4c;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 2rem;
  animation-duration: 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  top: 0;
  overflow: hidden;
  width: 90%;
  height: 4vh;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    width: 1px;
  }
  60% {
    width: 380px;
    height: 1px;
    opacity: 1;
  }
  100% {
    width: 380px;
    height: 4vh;
    opacity: 1;
  }
}
input:last-child {
  margin-bottom: 1rem;
  animation-delay: 2s;
}

input:focus,
textarea:focus {
  /* ---------- input text colour ---------- */
  background: #4c4c4c;
  border: none;
  color: #f44a41;
  outline: none;
}

input[type=submit] {
  /* ---------- send message box ---------- */
  background: #4c4c4c;
  border-radius: 2px;
  border-style: none;
  color: #333333;
  cursor: pointer;
  float: right;
  height: 30px;
  line-height: 20px;
  text-align: center;
  margin: 2rem auto;
  padding: calc(0.5rem + 1rem);
  font-size: calc(0.5rem + 0.5vw);
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

input[type=submit]:hover {
  /*-- send message button --*/
  background: #f44a41;
  color: #fff;
}

.logInContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  margin: auto;
  text-align: center;
  padding: calc(1rem + 1vw);
}

.mainH1 h3 {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2.4rem;
  color: #4c4c4c;
  font-weight: 300;
  line-height: 0.7;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.regContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  margin: auto;
  text-align: center;
  width: 40vw;
  height: auto;
  border-radius: 5px;
  padding: calc(1rem + 1vw);
}

.regContainer h3 {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2.4rem;
  color: #4c4c4c;
  font-weight: 300;
  line-height: 0.7;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.regContainer p {
  margin-top: 1rem;
}

.regContainer a {
  margin-top: 1rem;
  color: #f44a41;
}

.loginPage {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  text-align: center;
}

.registerLoginScreen {
  height: 100vh;
  width: 100vw;
}

.mainContent {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}

.mainBG {
  z-index: -5;
  object-fit: contain;
  height: auto;
}

.mainContentWrapper {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  padding: 2rem 3rem 2rem 3rem;
  animation-name: fadeInbounceIn;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}

@keyframes fadeInbounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.mainContentWrapper .logoMain {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}

.mainWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
}

.registrationForm {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 30vw;
  margin: auto;
  padding: calc(1rem + 0.5vw);
}

.logRegWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: calc(2rem + 1vw);
}

.logoTitle {
  text-align: center;
}

.logoTitle span {
  font-size: 1.75rem;
}

.Link {
  margin-top: 1rem;
}

.registerText {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  margin-top: 2rem;
}

.registerText span {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.registerText span:hover {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: #f44a41;
}

@media all and (max-width: 768px) {
  .registrationForm {
    width: 90vw;
  }
}
.uploadOpacity {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.uploadWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  animation-name: fadeInbounceIn;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}

@keyframes fadeInbounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.uploadWrapper h4 {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}

.uploadContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  background: rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  opacity: 1;
  border-radius: 1rem;
  z-index: 200;
  padding: 3rem 5rem 3rem 5rem;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inputField {
  position: relative;
  width: 100%;
  height: 6rem;
  cursor: pointer;
}

.uploadButton {
  background: blue;
  height: 2rem;
}

.inputButton {
  position: absolute;
  left: 50%;
  right: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  color: gray;
  background-color: red;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
  border: none;
  width: 20rem;
  height: 2rem;
  line-height: 10rem;
}

.uploadProfileButton {
  background: red;
  background: #4c4c4c;
  color: rgba(230, 228, 223, 0.75);
  outline: 0;
  border: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 1rem;
  padding: 0.5rem;
  width: 8rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.uploadProfileButton:hover {
  cursor: pointer;
  background: #f44a41;
  color: white;
  width: 10rem;
}

.closeUploader {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(0.5rem + 0.5vw);
  height: calc(0.5rem + 0.5vw);
  border-radius: 100%;
}

.inputfile {
  opacity: 0;
}

.file-5 {
  opacity: 0;
}

.uploadFile {
  width: 15%;
  height: auto;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-bottom: 1rem;
}

.uploadFile:hover {
  opacity: 1;
}

.profileContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3rem 3rem 2rem 3rem;
  width: 50vw;
  background: rgba(230, 228, 223, 0.75);
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  margin-top: 12rem;
}

.profileWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  flex-direction: row;
  width: 100%;
  margin-top: 4rem;
}

.mainImageProfile {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.profileInfo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.userName {
  margin-bottom: 1rem;
}

.userName span {
  color: #f44a41;
}

.userName bold {
  font-size: 2rem;
  color: #4c4c4c;
}

.profileContainer .userProfilePic {
  width: calc(11rem + 4vw);
  height: calc(11rem + 4vw);
  border-width: 6px;
  animation-name: fadeDown;
  animation-duration: 0.25s;
  opacity: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.otherprofileContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3rem 3rem 2rem 3rem;
  width: 60vw;
  background: rgba(230, 228, 223, 0.75);
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  margin-top: 8rem;
}

.otherprofileHeader {
  margin-top: 8rem;
}

.otherprofileContainer .userProfilePic {
  width: calc(11rem + 4vw);
  height: calc(11rem + 4vw);
}

.subheader {
  margin-top: 1rem;
}

.p_bodyTextMain span {
  font-size: 1.6rem;
  color: #f44a41;
}

.pageContainer .findPeople {
  width: 30vw;
}

#findPeopleContainer {
  margin-top: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80vw;
}

.findPeople {
  background: rgba(230, 228, 223, 0.75);
  color: rgba(76, 76, 76, 0.25);
}

@media all and (max-width: 768px) {
  .pageContainer .findPeople {
    width: 90vw;
  }
}
.friendsListHeader {
  margin-bottom: 2rem;
}

.friendsEtcContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  width: 80vw;
  flex-wrap: wrap;
  margin: 0 auto;
}

.friendsEtcWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin: 0 0.5rem;
  padding: 1rem 1.5rem;
  height: calc(15 + 5vh);
  cursor: pointer;
  background: rgba(230, 228, 223, 0.75);
  margin-bottom: calc(1rem + 0.5vw);
  margin-left: calc(0.5rem + 0.25vw);
  margin-right: calc(0.5rem + 0.25vw);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.friendsEtcWrapper:hover {
  background: rgba(230, 228, 223, 0.75);
  transform: scale(1.075);
  background: #4c4c4c;
  background: rgba(244, 74, 65, 0.125);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.075);
}

.friendsEtcText {
  text-align: center;
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(0.75rem + 0.25vw);
  color: rgba(230, 228, 223, 0.75);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
  color: #f44a41;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.pendingListHeader {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.friendsEtcWrapper .userProfilePic {
  width: calc(4rem + 1vw);
  height: calc(4rem + 1vw);
  margin-top: 1rem;
}

.friendButton {
  margin-top: 2rem;
}

.bioContainer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 5rem;
}

.bioContainer .h4_header {
  margin-bottom: 1rem;
}

.bioTextArea {
  width: 100%;
  height: 10rem;
  padding: 2rem;
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: calc(0.75rem + 0.25vw);
  color: rgba(230, 228, 223, 0.75);
  font-weight: 100;
  line-height: 1.15;
  letter-spacing: 0.05rem;
  background: #4c4c4c;
  outline: 0;
  border: 0;
  margin-top: 1rem;
  border-radius: 5px;
}

.bioInfoText {
  outline: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
}

.bioinfoAdd {
  background: #4c4c4c;
  padding: 0.5rem 1rem !important;
}

.bioinfoAdd:hover {
  background: black;
}

.bioInfo {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.Personal_header {
  color: #4c4c4c;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.bioHeader {
  font-size: 1.35rem;
  margin-top: 3rem;
}

.userName {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2rem;
  color: #4c4c4c;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  color: rgba(0, 0, 0, 0.5);
}

.bioTextHolder {
  height: 100px;
  padding: 2rem;
  background: rgba(76, 76, 76, 0.15);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  font-size: calc(1rem + 0.35vw);
  color: #4c4c4c;
  overflow: hidden;
}

.userName span {
  font-family: "montserratregular", Helvetica, sans-serif;
  font-size: 2rem;
  color: #4c4c4c;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  color: #f44a41;
}

hr {
  border-top: 1px solid #f44a41;
}

.buttonBasic {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  color: #4c4c4c;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border: 0;
  outline: 0;
  padding: 0.35rem 0.65rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #f44a41;
  background: rgba(76, 76, 76, 0.2);
  font-size: 0.8rem;
}

.buttonBasic:hover {
  color: #f44a41;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.bioinfoAdd,
.bioinfoSave {
  margin: 2rem 0 1rem 0;
}

.submitButton {
  font-family: "montserratlight", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #4c4c4c;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: 0.0025rem;
  padding: 0.5rem 1rem;
  background: #4c4c4c;
  color: rgba(230, 228, 223, 0.5);
  border: 0;
  outline: 0;
  margin-top: 2rem;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-transform: uppercase;
  font-size: calc(1rem + 0.25vw);
}

.submitButton:hover {
  color: #f44a41;
}

.chatInputField {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 3rem;
  width: 100vw;
  height: 20vh;
  background: rgba(230, 228, 223, 0.5);
  border-top: 1px solid rgba(76, 76, 76, 0.2);
}

.chatEditor {
  width: 50vw;
  min-height: 8vh;
  padding: 2rem;
  color: #4c4c4c;
  font-size: 1rem;
  border: 0;
  outline: 0;
}

.chatEditor:focus {
  background: rgba(76, 76, 76, 0.35);
}

.messaging_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.messages {
  overflow: scroll;
  max-height: 50vh;
  min-height: 20vh;
  margin: 1rem 0;
}

.chatContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  width: 80vw;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 50vh;
  overflow: scroll;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.chatItem {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 3px;
  background: rgba(230, 228, 223, 0.5);
  margin-right: calc(3rem + 2vw);
}

.chatItem:nth-child(odd) {
  background: rgba(244, 74, 65, 0.06);
  margin-left: calc(3rem + 2vw);
}

.chatItem .userProfilePic {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chatItem:nth-child(odd) .userProfilePic {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chatItem:nth-child(odd) .chatDetails {
  text-align: right;
  margin-right: 1.5rem;
}

.chatDetails {
  text-align: left;
  line-height: 0.8rem;
  margin-left: 1.5rem;
}

.chatInfo {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

.chatItem:nth-child(odd) .chatInfo {
  color: #f44a41;
}

.chatinfoSave {
  width: 30%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.5rem;
}

.chatMessage {
  font-size: 1.5rem;
  padding: 1.5rem;
  color: #4c4c4c;
  background: rgba(230, 228, 223, 0.5);
  background: rgba(76, 76, 76, 0.4);
  background: rgba(255, 255, 255, 0.85);
  overflow: hidden;
}

.h4_header.chatMessage::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 3rem;
  right: auto;
  top: 50%;
  bottom: auto;
  border: 8px solid;
  border-color: rgba(255, 255, 255, 0.85) rgba(255, 255, 255, 0.85) transparent transparent;
}

.chatItem:nth-child(odd) .h4_header.chatMessage::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 3rem;
  top: 50%;
  bottom: auto;
  border: 8px solid;
  border-color: rgba(255, 255, 255, 0.85) transparent transparent rgba(255, 255, 255, 0.85);
}

/*# sourceMappingURL=style.css.map */
