////////////////////////////////////////////////////////////
// FONTS IMPORTS ///////////////////////////////////////////
////////////////////////////////////////////////////////////

// @import url("/fonts/playfair_display/playfair_stylesheet.css");

// MAIN FONTS ////////////////////////////////////////////
// $bodytext: "montserratlight";
// $serifHeader: "playfair_displaybold";
// $serifBody: "playfair_displayregular";
// $overlayText: "montserratsemi_bold";
// $spanText: "playfair_displayitalic";
// $mainheaderfont: "montserratregular";

$mainFont: "Montserrat", Helvetica, sans-serif;

////////////////////////////////////////////////////////////
// FONTS MIXINS ////////////////////////////////////////////
////////////////////////////////////////////////////////////

// MAIN HEADERS ////////////////////////////////////////////
@mixin h1-Headers(
    $size: clamp(2.4rem, 2vw, 3.8rem),
    $colour: $primary-color,
    $weight: 700,
    $lh: 0.95,
    $ls: 0.05rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin h2-Headers(
    $size: clamp(2rem, 2vw, 3rem),
    $colour: $primary-color,
    $weight: 300,
    $lh: 1.45,
    $ls: 0.05rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}

@mixin h3-Headers(
    $size: clamp(1.6rem, 2vw, 1.8rem),
    $colour: $complimentary-color,
    $weight: 400,
    $lh: 0.7,
    $ls: 0.05rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin h4-Headers(
    $size: clamp(1.8rem, 2vw, 2rem),
    $colour: $light-accent-color,
    $weight: 400,
    $lh: 1.6,
    $ls: 0.05rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin h5-Headers(
    $size: clamp(1rem, 2vw, 1.2rem),
    $colour: $complimentary-color,
    $weight: 400,
    $lh: 1.5,
    $ls: 0.05rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin h6-Headers(
    $size: 1.6rem,
    $colour: $complimentary-color,
    $weight: 400,
    $lh: 0.7,
    $ls: 0.05rem,
    $tt: uppercase
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
    @if $tt {
        text-transform: $tt;
    }
}
// Main Body Text

@mixin BodyText-montserrat(
    $size: 1.6rem,
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.5,
    $ls: 0.05rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
@mixin BodyTextMain(
    $size: clamp(1.35rem, 2vw 1.5rem),
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.15,
    $ls: 0.05rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}

@mixin bodysmall(
    $size: clamp(1.4rem, 2vw, 1.6rem),
    $colour: $complimentary-color,
    $weight: 100,
    $lh: 1.15,
    $ls: 0.05rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}

@mixin LightText(
    $size: 1.4rem,
    $colour: $complimentary-color,
    $weight: 300,
    $lh: 1.35,
    $ls: 0.0025rem
) {
    font-family: $mainFont;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $ls {
        letter-spacing: $ls;
    }
}
